.theme-dark{
    --body-bg:rgb(1, 17, 36);
    --main-article-bg:rgb(1, 17, 36);
    --main-header-color:rgb(236, 163, 3);
    --main-header-bg:rgb(50, 64, 77);
    --main-section-h2-color:#071125;
    --main-section-bg:rgb(135, 145, 143);
    --main-aside-bg:rgb(26, 29, 31);
    --main-aside-nav-bg:rgb(6, 9, 15);
    --main-aside-nav-color:rgb(255, 255, 255);
}

.theme-light{
    --body-bg:rgb(3, 143, 120);
    --main-article-bg:rgb(3, 143, 120);
    --main-header-color:rgb(236, 163, 3);
    --main-header-bg:rgb(73, 104, 97);
    --main-section-h2-color:#030e4d;
    --main-section-bg:rgb(188, 205, 207);
    --main-aside-bg:rgb(3, 92, 99);
    --main-aside-nav-bg:rgb(3, 92, 99);
    --main-aside-nav-color:rgb(231, 231, 231);
}

* {
    box-sizing: border-box;
  }
body{
    background-color: var(--body-bg);
    margin: 0px;
    font-size: 96%;
}

main{
    position: relative;
    top: 45px;;
    border-radius: 4px;;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 15px 15px 20px 20px;
    /*display: flex;*/
    margin: 0px;
    padding: 0px;
    width: 100%;
    background: red;
}

main>header{
    position: relative;
    margin: 40px auto 40px auto ;
    width: 40%;
    text-align: center;
    padding: 11px 5px;
    font-size: 120%;
    color: var(--main-header-color);
    background-color: var(--main-header-bg);
    border-radius: 10px;
}
main>header>h1
{margin: 0px;}


article.main-article>aside,
article.main-article>section
{float: left;}

article.main-article>section,
article.main-article>footer{
    clear: both;
}
article.main-article{
    width: 90%;
    background-color: var(--main-article-bg);
    margin:auto;
}

article.main-article::after{
    content: "";
    display: block;
    clear: both;
}

section.main-section{
    background-color: var(--main-section-bg);
    padding: 10px;
    margin: auto;
    border-radius: 8px;
    margin-bottom: 30px;
    border: 2px solid rgb(66, 66, 117);
    width: 40%;
}

section.main-section>h2{
    color: var(--main-section-h2-color);
}

section.main-section>p{
     text-align: justify;
 }
section.main-section>:nth-child(2)::first-letter{
     padding-left: 5%;
 }
section.main-section:not(:nth-child(2)){
    margin-top: 25px;
}

section.main-section:last-child{
    margin-bottom: 10px;;
}

aside#left-aside{
    height: 100%;
    min-width: 215px;
    font-size: 85%;
    background-color: var(--main-aside-bg);
}

aside#left-aside>nav{
    background-color: var(--main-aside-nav-bg);
    margin: 0px ;
    height: 93%;
    width: 100%;
    padding-left: 4%;
    color: var(--main-aside-nav-color);
}

nav#aside-nav>h1{
    padding:10px 0px 0px 0px;
}

nav#aside-nav>ul>li{
    list-style-type: circle;
    margin-left: 12px;
    margin-top: 2px;
}

nav#aside-nav>ul{
    padding:0px 3px 3px 8px ;
}

.bold{font-weight: bold;}
