:root{
    --chart-title-color:#194d1c;
    --train-set-color:rgb(0, 2, 116);
    --test-set-color:#4f5f65;
    --val-set-color:rgb(177, 2, 11);
    --figcaption-color:rgb(66, 66, 66);
}


@media (prefers-color-scheme: dark) {
    :root {
        --chart-title-color:#b7c46b;
        --train-set-color:rgb(3, 63, 167);
        --test-set-color:#039185;
        --val-set-color:rgb(212, 37, 46);
        --figcaption-color:rgb(124, 137, 138);
    }
}

.pie-chart-title{
    fill:var(--chart-title-color);
}

.train-set{
    fill:var(--train-set-color);
}

.test-set{
    fill:var(--test-set-color);
}

.validation-set{
    fill:var(--val-set-color);
}

.flex-bloc #pie-chart{
    padding: 0px;
    margin: 0px;
}
figure#pie-chart{
    position: relative;
    text-align: center;
}
figure#pie-chart>svg{
    width: 300px;
    height: 300px;
}
figcaption{
    border-bottom: rgb(1, 119, 109) 1px solid;
    display: inline-block;
    font-style: italic;
    color: var(--figcaption-color);
}
@media only screen and (max-width:1264px){
    figure#pie-chart{
        top:10%;
        left:15px;
    }
}
@media only screen and (max-width:1254px){
    figure #pie-chart{
        top:35px;
        left:15px;
    }
}

@media only screen and (max-width:1084px){
    figure#pie-chart{
        top:18%;
        left:15px;
    }
}

@media only screen and (max-width:902px){
    .flex-bloc{
        flex-wrap: wrap;
    }
    #fig{
        margin: auto;
    }
    figure#pie-chart{
        top: 0%;
        left: initial;
        width: 100%;
    }
    figure#pie-chart>svg{
        width: 100%;
        height: 400px;
    }
}





