/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 17855;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

/* Modal Content/Box */
.modal-content {
    display: block;
    position: relative;
    background-color: #00140c55;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-content img{
    margin: auto;
    width: 90%;
}

/* The Close Button */
.close {
    position: absolute;
    right: 3px;
    top: 2px;
    color: rgb(182, 218, 185);
    font-size: 200%;
    font-weight: bold;
    content: "";

}


.close:hover,
.close:focus {
    cursor: pointer;
    color: rgb(88, 7, 0);
}