.theme-dark {
    --main-list-li-bg: rgba(2, 33, 53, 0.979);
    --menu-fill: var(--home-fill);
}

.theme-light {
    --main-list-li-bg: rgb(3, 61, 71);
    --menu-fill: rgb(45, 173, 146);
}

#menu-icon-wrapper>svg {
    position: relative;
    top: 5px;
    fill: var(--menu-fill);
    margin-left: 15px;
}

@media only screen and (max-width: 536px) {
    nav#header-nav {
        display: block;
        height: 44px;
        padding-bottom: 0;
    }

    ul#main-list {
        width: 100%;
        position: absolute;
        top: 100%;
        /*display: none;*/
    }

    ul#main-list>li {
        background-color: var(--main-list-li-bg);
        border-bottom: 1px solid rgb(80, 116, 98);
        float: none;
    }

    .li-label,
    #menu-icon-wrapper i{
        display: inline;
    }

    .li-label,
    span.li-txt {
        position: relative;
        font-weight: bold;
    }

    ul#main-list>li i{
        display: inline;
        fill: var(--home-fill);
    }

    a.li-txt {
        position: relative;
    }

    ul#main-list a {
        padding-bottom: 0;
    }

    .subMenuParent li a {
        top: 100%;
    }

    ul#main-list>li:nth-child(1)>a {
        bottom: 0;
    }

    ul#main-list>li:nth-child(1)+li>a>svg,
    .li-txt {
        top: -4px;
    }

    ul#main-list>li:nth-child(2) .li-txt {
        top: -10px;
    }

    .submenu {
        z-index: 101;
    }

    .subMenuParent {
        position: relative;
    }
}