.theme-dark {
    --main-list-li-bg: rgba(2, 33, 53, 0.979);
    --menu-fill: var(--home-fill);
}

.theme-light {
    --main-list-li-bg: rgb(3, 61, 71);
    --menu-fill: rgb(45, 173, 146);
}

#menu-icon-wrapper>i {
    position: relative;
    color: var(--menu-fill);
    left: 15px;
    top: 0px;
    font-size: 2.8em;
    vertical-align: middle;
    transition: color ease-out 1s;
}

#menu-icon-wrapper>i:hover{
    color: var(--github-hover-fill);
}

@media only screen and (max-width: 595px) {
    nav#header-nav {
        display: block;
        height: 44px;
        padding-bottom: 0;
    }

    ul#main-list {
        position: absolute;
        width: 100%;
        top: 100%;
        display: none;
    }

    ul#main-list>li {
        background-color: var(--main-list-li-bg);
        border-bottom: 1px solid rgb(80, 116, 98);
        float: none;
    }

    .li-label,
    #menu-icon-wrapper i {
        display: inline;
    }

    .li-label,
    span.li-txt {
        position: relative;
        font-weight: bold;
    }

    a.li-txt {
        position: relative;
    }

    .subMenuParent li a {
        top: 100%;
    }

    .submenu {
        z-index: 100;
    }

    .subMenuParent {
        position: relative;
    }
}