.theme-dark{
    --main-list-li-bg:rgb(8, 78, 87);
}

.theme-light{
    --main-list-li-bg:rgb(80, 172, 137);
}

#menu>svg{
    position: relative;
    top:5px;
    fill:var(--home-fill);
    margin-left: 15px;
}


@media only screen and (max-width:536px)
{
    .li-label,
    #menu>svg{
        display: inline-block;
    }

    .li-label,
    span.li-txt{
        position: relative;
        font-weight: bold;

    }
    .li-label{
        top: -8px;
        left: -2px;
    }

    span.li-txt{
        left: 2px;
        top: -4px;
    }

    ul#main-list>li:nth-child(2)~li svg{
        display: inline-block;
            position: relative;
            top:-0px;
            width: 30px;
            height: 25px;
            fill:var(--home-fill);
    }

    ul#main-list>li:nth-child(2)+li svg{
        top:2px;
    }

    ul#main-list{
        position: absolute;
        width: 100%;
    }

    nav#header-nav{
        height: 23%;
    }

    ul#main-list>li{
        float: none;
    }

    ul#main-list>li>a{
        display: block;
        padding:12px 15px;
    }

    ul#main-list>li:not(:first-child){
        display: none;
        background-color: var(--main-list-li-bg);
    }
    
    nav#header-nav{
        height: 43px;
        padding-bottom: 0px;
    }
}
