.theme-dark{
    --body-bg:#ccc;
    --nav-header-bg: rgba(24, 1, 124, 0.959);
    --main-list-a-color:rgb(214, 216, 190);
    --main-list-a-bg-hover:#02323d;
    --submenu-li-a-bg:rgba(77, 46, 0, 0.89);
    --submenu-a-bg-hover:#044913; 
}

.theme-light{
    --body-bg:#ccc;
    --nav-header-bg: rgb(199, 219, 150);
    --main-list-a-color:rgb(0, 25, 32);
    --main-list-a-bg-hover:#08b975;
    --submenu-li-a-bg:rgba(102, 235, 49, 0.89);
    --submenu-a-bg-hover:#356d92dc;
}



body{
    background-color: var(--body-bg);
}
nav#header-nav{
    position: fixed;
    background-color: var(--nav-header-bg);
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 0px;
    z-index: 10000;
}
nav#header-nav::after{
    content: '';
    display: block;
    clear: both;
}

ul#main-list{
    padding: 0px;
    margin: 0px;
}

ul#main-list>li{
    display: block;
    float: left;
    padding: 0px;
    margin: 0px;
}

ul#main-list li {
    list-style-type: none;
}

ul#main-list a{
    text-decoration: none;
    color: var(--main-list-a-color);
}

ul#main-list>li>a{
    display: block;
    padding:12px 15px;
}
img#home{
    margin-top: -3px;
    padding-top: 0px;
    width: 23px;
    height: 19px;
}

nav#header-nav>a#github img{
    width: 40px;
    position: absolute;
    right: 0px;
    top:2px;
}


ul#main-list>li>a:hover{
    background-color: var(--main-list-a-bg-hover);
}

.submenu{
    position: absolute;
    top:98%;
    padding-left: 0px;
}

.submenu>li>a{
    background-color: var(--submenu-li-a-bg);
    display: block;
    padding: 10px 15px;
}

.submenu>li:not(:first-child) a{
    padding-top: 5px;
}

.submenu a:hover{
    background: var(--submenu-a-bg-hover);
}

.submenu a>img{
    width: 20px;
    height: 20px;
}

.submenu{
    display: none;
}

nav#header-nav li:hover .submenu{
    display: block;
}

