.theme-dark {
    --nav-header-bg: rgb(6, 18, 32);
    --main-list-a-color: rgb(201, 201, 201);
    --main-list-a-bg-hover: rgb(4, 12, 20);
    --submenu-li-a-bg: rgb(28, 41, 46);
    --submenu-a-bg-hover: #010e0f;
    --github-img: url("../img/github_logo.png");
    --github-fill: rgb(196, 195, 195);
    --github-hover-fill: rgb(78, 86, 88);
    --home-img: url("../img/house_white.png");
    --home-fill: rgb(227, 246, 252);
}

.theme-light {
    --nav-header-bg: rgb(1, 37, 46);
    --main-list-a-color: rgb(202, 241, 238);
    --main-list-a-bg-hover: rgb(1, 25, 31);
    --submenu-li-a-bg: rgb(0, 32, 29);
    --submenu-a-bg-hover: rgb(0, 20, 18);
    --github-img: url("../img/github_logo.png");
    --github-fill: rgb(45, 173, 146);
    --github-hover-fill: rgb(25, 97, 100);
    --home-img: url("../img/house_white.png");
    --home-fill: rgb(103, 214, 214);
}

/* Images */
a#github>svg {
    width: 29px;
    position: absolute;
    right: 7px;
    top: 6px;
    fill: var(--github-fill);
}

a#github>svg:hover {
    fill: var(--github-hover-fill);
}

#menu-icon-wrapper>i {
    display: none;
}

/* The menu */
nav#header-nav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    z-index: 100;
    background-color: var(--nav-header-bg);
    transition: background ease-out 0.8s, color ease 1.5s;
}

ul#main-list {
    font-weight: normal;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

ul#main-list>li {
    position: relative;
    display: block;
    float: left;
    padding: 0;
    margin: 0;
    transition: color ease 1s;
}
ul#main-list>li i {
    display: inline;
    color: var(--home-fill);
}

ul#main-list li {
    list-style-type: none;
}

ul#main-list a,
.submenu-parent button {
    text-decoration: none;
    color: var(--main-list-a-color);
    width: 100%;
    display: block;
    transition: background ease-in-out 0.09s;
    padding: 15px;
}

nav#header-nav button {
    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;
    background: inherit;
    font-size: inherit;
    font-family: inherit;
    text-align: left;
}

ul#main-list>li>a:hover,
ul#main-list .submenu-parent button:hover {
    background-color: var(--main-list-a-bg-hover);
}

.submenu {
    position: absolute;
    overflow-x: visible;
    text-align: left;
    display: none;
    top: 100%;
    padding-left: 0;
}

.submenu li {
    display: inline-block;
    position: relative;
    max-width: 280px;
    min-width: 200px;
    width: 190%;
}

.submenu>li>a {
    word-wrap: normal;
    display: block;
    background-color: var(--submenu-li-a-bg);
    border-bottom: 1px solid rgba(90, 107, 97, 0.863);
}

.submenu>li:last-child>a {
    border-bottom: none;
}

.submenu>li>a:hover {
    background: var(--submenu-a-bg-hover);
}

.submenu a>img {
    width: 20px;
    height: 20px;
    z-index: 45;
}