#no-script-before-main {
    text-align: center;
    margin: 0;
    z-index: inherit;
}

#noscript-layout {
    z-index: 100000;
    text-align: center;
    position: fixed;
    padding: 5px 0;
    top: 0;
    left: 0;
    right: 0;
    color: rgb(168, 231, 210);
    background: rgb(182, 80, 39);
}

nav#header-nav {
    display: block;
    position: fixed;
    background-color: rgb(73, 104, 97);
    top: 29px;
    left: 0;
    right: 0;
    padding: 0;
    z-index: 100;
    color: rgb(14, 9, 0);
}

#switch {
    display: none;
}

.submenu a:hover {
    background-color: rgb(75, 127, 141);
}

ul#main-list>li>a:hover {
    background-color: rgb(1, 25, 31);
    color: bisque;
}

body {
    background-color: rgb(180, 175, 175);
    color: rgb(10, 10, 10);
}

ul#main-list>li:hover .submenu {
    display: block;
    background-color: rgb(88, 95, 97);
}

ul#main-list>li:first-child:hover {
    display: block;
    fill: antiquewhite;
}
