/* The switch - the box around the slider */
.switch {
    position: absolute;
    display: inline-block;
    width: 52px;
    height: 24px;
    right: 55px;
    top: 5px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1ad2f3;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider::before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0 15px #2020203d;
    background: rgba(221, 220, 220, 0.897) url('../img/sunny.png');
    background-repeat: no-repeat;
    background-position: center;
}

input:checked+.slider {
    background-color: rgb(154, 157, 158);
}

input:focus+.slider {
    box-shadow: 0 0 1px #2b9efd;
}

input:checked+.slider::before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: rgb(0, 11, 19) url('../img/moon_12.svg');
    background-repeat: no-repeat;
    background-position: center;
}

/* Rounded sliders */
.slider.round {
    border-radius: 65px;
}

.slider.round::before {
    border-radius: 60%;
}
