.theme-dark {
    --border-color: #91c500;
    --symbol-color: rgb(0, 255, 34);
}

.theme-light {
    --border-color: rgb(0, 255, 34);
    --symbol-color: #91c500;
}

.to-top {
    color: var(--symbol-color);
    padding-top: 1.8em;
    display: inline-block;
    /* or block */
    position: fixed;
    border-color: var(--border-color);
    text-decoration: none;
    transition: all .3s ease-out;
    bottom: 4%;
    right: 2%;
}

.to-top::before {
    content: '▲';
    font-size: 0.9em;
    position: absolute;
    top: 0;
    right: 50%;
    margin-left: -.7em;
    border: solid .13em white;
    border-radius: 10em;
    width: 2em;
    height: 2em;
    line-height: 1.8em;
    border-color: inherit;
    transition: transform .5s ease-in;
    text-align: center;
    font-size: 90%;
}

.to-top:hover {
    color: pink;
    border-color: pink;
}

.to-top:hover::before {
    transform: rotate(360deg);
    border-color: red;
}